# systemd service for daemonizing repliqate.
# Edit the parameters as necessary before installing.

[Unit]
Description=repliqate
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
SyslogIdentifier=repliqate
WorkingDirectory=/path/to/repliqate
ExecStart=/bin/bash -c "./env/bin/repliqate --config config.yaml -vv"

[Install]
WantedBy=multi-user.target
